ShoppingCartApp/ShoppingCartApp/obj/ARM/Debug/
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Sensors/SensorsView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/layout.resfiles
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/intermediatexaml/ShoppingCartApp.pdb
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/intermediatexaml/ShoppingCartApp.exe
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/XamlTypeInfo.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/XamlSaveStateFile.xml
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/User/UserView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/User/UserView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/User/UserFormDeleteUpdate.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/User/UserFormDeleteUpdate.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.xr.xml
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.pdb
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.exe
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.csprojResolveAssemblyReference.cache
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.csproj.GenerateResource.Cache
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ShoppingCartApp.csproj.FileListAbsolute.txt
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/ProjectArchitectures.txt
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/MainPage.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/MainPage.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/App.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/App.g.cs
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/resources.pri
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/ShoppingCartApp.xr.xml
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/ShoppingCartApp.pdb
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/ShoppingCartApp.exe
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/ShoppingCartApp.build.appxrecipe
ShoppingCartApp/ShoppingCartApp/bin/x86/Debug/AppxManifest.xml
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/layout.resfiles.intermediate
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Sensors/SensorsView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Rest/RestView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Rest/RestView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/ProductImage/ProductImageView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/ProductImage/ProductImageView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductFormNew.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductFormNew.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductFormDeleteUpdate.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Product/ProductFormDeleteUpdate.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Camera/CameraView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/Camera/CameraView.g.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/AudioRecord/AudioRecordView.g.i.cs
ShoppingCartApp/ShoppingCartApp/obj/x86/Debug/Views/AudioRecord/AudioRecordView.g.cs
ShoppingCartApp/.vs/ShoppingCartApp/v14/.suo
